html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a:hover {
    cursor: pointer;
    font-weight: 700;
}
:root {
    --text-color: #2F2E2E;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 95px;
}
.navbar {
    padding: 20px 0 50px 0;
}
.navbar__flex {
    display: flex;
}
.logo {
    color: var(--text-color);
    font-family: 'Barlow', sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin: 29px 390px 0 0;
}
.sidenav-trigger {
    display: none;
}
.navbar__flex_menu {
    display: flex;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 44px 0;
}
.menu-item a {
    color: var(--text-color);
    margin-right: 107px;
}
.menu-item:last-child a {
    margin-right: 57px;
}
.wrap {
    margin: 48px 0 0 34px;
    display: inline-block;
    position: relative;
    height: 50px;
    padding: 0;
  }
  .navbar__form-text {
    height: 50px;
    font-size: 20px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 0 10px;
    border-radius: 15px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }
  .navbar__form-text:focus {
    width: 200px;
    box-shadow: 0 0 9px rgba(0,0,0,0.6);
    background-color: white;
    z-index: 1;
    cursor: text;
    margin-right: 40px;
    position: absolute;
    top: -17px;
  }
  .navbar-btn {
    height: 21.5px;
    width: 25px;
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }
.header {
    position: relative;
}
.header-bg {
    background-image: url(../img/header-img.png);
    width: 1150px;
    height: 739px;
    margin: 0 0 0 auto;
}
.header__text {
    width: 691px;
    height: 550px;
    background-image: linear-gradient(91deg, rgba(244, 246, 245, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%);
    position: absolute;
    top: 96px;
    right: 749px;
}
.header-h2 {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    line-height: normal;
    font-weight: 900;
    width: 425px;
    margin: 138px 0 10px 100px;
}
.header-p {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 200;
    width: 436px;
    margin: 0 0 0 100px;
}
.services {
    padding: 16px 0 65px 0;
    background-color: rgba(37, 77, 77, 0.20);
}
.services-h2 {
    color: var(--text-color);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-weight: 900;
    line-height: normal;
    margin: 0 0 45px 0;
}
.services__flex {
    display: flex;
    margin-left: 82px;
}
.services__flex-item {
    width: 158px;
    margin-right: 304px;
}
.services__flex-item:nth-child(2) {
    margin-right: 308px;
}
.services__flex-item:last-child {
    margin-right: 0;
}
.services-img {
    width: 103px;
    height: 103px;
    margin: 0 auto;
}
.services-h4 {
    color: var(--text-color);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 27px;
    font-weight: 900;
    line-height: normal;
    margin: 0 0 9px 5px;
}
.services-item-p {
    color: var(--text-color);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.about_us {
    padding: 76px 0 95px 0;
}
.about_us__flex {
    display: flex;
}
.about_us-img {
    width: 735px;
    height: 571px;
    margin: 0 85px 0 100px;
}
.about_us__flex_text {
    width: 456px;
}
.about_us-h2 {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-weight: 900;
    line-height: normal;
    margin: 64px 0 25px 2px;
}
.about_us-p {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 31px;
    font-weight: 400;
    line-height: 1.59;
    margin: 0 0 35px 0;
}
.about_us-a {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.projects {
    margin: 0 5px;
}
.projects-h2 {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-weight: 900;
    line-height: normal;
    margin: 0 0 70px 0;
}
.projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 104px;
    row-gap: 85px;
}
.projects_card {
    margin-bottom: 14px;
}
.projects__grid-item-p {
    color: var(--text-color);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 178px;
    margin: 0 0 0 83px;
}
.testimonialv {
    padding: 88px 0 150px 0;
}
.testimonialv-h2 {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-weight: 900;
    line-height: normal;
    margin: 0 0 78px 0;
}
.testimonialv__flex {
    display: flex;
    margin-left: 5px;
}
.testimonialv__flex-item {
    display: flex;
    margin-right: 130px;
}
.testimonialv__flex-item:last-child {
    margin-right: 0;
}
.testimonialv-img {
    width: 151px;
    height: 151px;
    margin-right: 29px;
}
.testimonialv__flex-item:last-child .testimonialv-img {
    margin-right: 21px;
}
.testimonialv__flex-item-h4 {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin: 14px 0 16px 0;
}
.testimonialv__flex-item-p {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    width: 307px;
    margin: 0;
}
.footer {
    background-color: #2E2F32;
    padding: 47px 0 44px 0;
}
.footer__flex {
    display: flex;
    margin-left: 4px;
}
.footer__flex-item {
    margin-right: 140px;
}
.footer__flex-item:nth-child(2) {
    margin-right: 318px;
}
.footer-h1 {
    color: #FAFAFA;
    font-family: 'Barlow', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 7px 0;
}
.footer-p {
    color: #FAFAFA;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    width: 287px;
    margin: 0 0 44px 0;
}
.footer__flex-item:nth-child(2) .footer-p {
    margin: 0 0 7px 0;
    width: 201px;
    line-height: 28px;
}
.footer__flex-icon {
    display: flex;
    margin-left: 2px;
}
.footer-icon-img {
    width: 24.219px;
    height: 23.86px;
}
.footer__social-link {
    margin-right: 36px;
}
.footer__social-link:last-child {
    margin-right: 0;
}
.footer-h4 {
    color: #FAFAFA;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: normal;
    margin: 10px 0 13px 0;
}
.footer__flex-item:nth-child(3) .footer-h4 {
    margin: 10px 0 18px 0;
}

@media screen and (max-width: 1400px) {
    .navbar__flex {
        justify-content: space-between;
    }
    .logo {
        margin-right: 0;
    }
    .header__text {
        right: calc(100% - 49%);
    }
    .services__flex {
        margin: 0;
        justify-content: center;
    }
    .about_us__flex {
        flex-direction: column;
        align-items: center;
    }
    .about_us-img {
        margin: 0;
    }
    .projects__grid {
        column-gap: 20px;
    }
    .projects-h2 {
        margin: 0 0 70px 10px;
    }
    .footer__flex {
        flex-wrap: wrap;
    }
   .footer__flex-item {
    margin-bottom: 20px;
   }
}
@media screen and (max-width: 1230px) {
    .header__text {
        width: 500px;
        height: 398px;
    }
    .header-bg {
        margin: 0;
        width: 100%;
        background-size: cover;
    }
    .header-h2 {
        font-size: 42px;
        margin: 70px 0 10px 30px;
    }
    .header-p {
        font-size: 24px;
        margin: 0 0 0 30px;
    }
    .about_us-h2 {
        text-align: center;
    }
    .projects-h2 {
        margin: 0 0 70px 0px;
        text-align: center;
    }
    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .testimonialv__flex {
        flex-direction: column;
    }
    .testimonialv__flex-item {
        margin: 0 0 50px 0;
    }
    .testimonialv__flex-item:last-child {
        margin: 0;
    }
    .footer__flex-item:nth-child(2) {
        margin-right: 140px;
    }
}
@media screen and (max-width: 1100px) {
    .navbar__flex {
        justify-content: flex-start;
    }
    .navbar__flex_menu {
        display: none;
    }
    .sidenav-trigger {
        display: block;
        color: var(--text-color);
        margin-top: 41px;
    }
    .material-icons {
        font-size: 35px;
    }
    .wrap {
        margin: 48px 20px 0 34px;
    }
    .logo {
        margin-right: 70%;
    }
    .sidenav {
        width: 429px;
    }
    .logot {
        color: var(--text-color);
        font-family: 'Barlow', sans-serif;
        font-size: 42px;
        font-weight: 600;
        margin: 29px 0 29px 29px;
    }
    .sidenav .divider {
        background-color: var(--text-color);
        width: 80%;
        margin: 8px 0 29px 29px;
    }
    .sidenav .waves-effect {
        color: var(--text-color);
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .services__flex {
        justify-content: space-around;
    }
    .services__flex-item {
        margin-right: 0;
    }
    .services__flex-item:nth-child(2) {
        margin-right: 0;
    }
    .services__flex-item:last-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 992px) {
    .header__text {
        width: 400px;
        height: 318px;
        right: calc(100% - 49%);
    }
    .header-h2 {
        font-size: 32px;
        width: 400px;
    }
    .header-p {
        font-size: 18px;
        width: 400px;
    }
}
@media screen and (max-width: 830px) {
    .header__text {
        right: calc(100% - 60%);
    }
    .logo {
        margin-right: 60%;
    }
    .about_us-img {
        width: 400px;
        height: 311px;
        margin: 0 85px 0 100px;
    }
    .projects__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 730px) {
    .logo {
        margin-right: 47%;
    }
}
@media screen and (max-width: 650px) {
    .header__text {
        right: calc(100% - 70%);
    }
    .services__flex {
        flex-direction: column;
        align-items: center;
    }
    .services__flex-item {
        margin-bottom: 30px;
    }
    .about_us-p {
        text-align: center;
    }
    .testimonialv__flex-item {
        flex-direction: column;
        align-items: center;
    }
    .testimonialv__flex-item-text {
        text-align: center;
    }
}
@media screen and (max-width: 570px) {
    .container {
        padding: 0 30px;
    }
    .logo {
        font-size: 32px;
        margin-right: 50%;
    }
    .wrap {
        margin-top: 37px;
    }
    .sidenav-trigger {
        margin-top: 30px;
    }
    .header__text {
        width: 70%;
        height: 35%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .header-h2 {
        width: 300px;
    }
    .header-p {
        width: 300px;
    }
    .services-h2 {
        font-size: 36px;
    }
    .about_us-h2 {
        font-size: 36px;
    }
    .about_us__flex_text {
        text-align: center;
    }
    .about_us-p {
        font-size: 24px;
    }
    .projects-h2 {
        font-size: 36px;
    }
    .testimonialv-h2 {
        font-size: 36px;
    }
    .footer-h1 {
        font-size: 32px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        margin-right: 37%;
    }
    .sidenav {
        width: 80%;
    }
    .header__text {
        height: 50%;
    }
    .header-h2 {
        width: 200px;
    }
    .header-p {
        width: 200px;
    }
    .about_us-img {
        width: 250px;
        height: 194px;
    }
    .about_us__flex_text {
        width: 250px;
    }
}
@media screen and (max-width: 400px) {
    .container {
        padding: 0 10px;
    }
    .logo {
        margin-right: 28%;
    }
    .projects_card {
        width: 200px;
        height: 112px;
    }
    .materialboxed {
        width: 200px;
        height: 112px;
    }
    .projects__grid-item-p {
        margin-left: 9px;
        font-size: 13px;
    }
    .testimonialv-img {
        width: 100px;
        height: 100px;
    }
    .testimonialv__flex-item-text {
        width: 200px;
    }
    .testimonialv__flex-item-p {
        width: 200px;
    }
    .navbar__form-text:focus {
        height: 40px;
        margin-right: -50px;
        top: 35px;
      }
}